<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name=".RadioTeduAppFunctionService"
            android:exported="true"
            android:permission="android.permission.BIND_APP_FUNCTION_SERVICE">
            <property
                android:name="android.app.appfunctions.schema"
                android:value="app_functions_schema.xsd" />
            <property
                android:name="android.app.appfunctions.v2"
                android:value="radiotedu_media.xml" />
            <intent-filter>
                <action android:name="android.app.appfunctions.AppFunctionService" />
            </intent-filter>
        </service>
    </application>
</manifest>
